* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D3D3DA;
  color: #1D1A18;
  width: auto;
  font-family: 'Noto Serif', serif;
}

header {
  background-color: #A75737;
}

h1 {
  color: #28252C;
  size: 40px;
  font-family: 'Oswald', sans-serif;
}

.main {
  width: 800px;
  margin: 0px auto;
}
