* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {color:inherit;}
a:hover { color: inherit;}
/*--
begin basic styling

colors needed:
background f2f2f2
text 30383b
dark  d78d1e
light f2c608
middle f2b11b

font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Slabo 27px', serif;
--*/
html {
  background-color: #F2F2F2;
  color: #1D1A18;
  font-family: 'Slabo 27px', serif;
  font-size: 10px;
}
header {
  border-bottom: 1px solid #30383b;
  opacity: 10%;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  font-size: 2rem;
}
nav {
  font-size: 1.8rem;
}
h1, h2, h3, h4, h5, h6 {
  color: ##30383b;
  font-family: 'PT Sans Narrow', sans-serif;
}
h1 {
  font-size: 3.2rem;
  margin: 0 0 20px 0;
}
h2 {
  font-size: 2.4rem;
}
p {
  font-size: 1.8rem;
  line-height: 140%;
  padding: 0 0 15px 0;
}
section {
  width: 100%;
  padding: 10px 20px;
}
table {
  font-size: 1.8rem;
  text-align: left;
  width: 50%;
  display: inline-block;
}
th, tr, td {
  padding: 5px 15px 5px 0;
}
th {
  font-size: 1.8rem;
  font-weight: bold;
}
ul li {
  font-size: 1.6rem;
  list-style: none;
  display: inline-block;
}
form {

}
/*--
General, reusable classes
--*/
.width {
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto;
  padding: 0;
}

/*--

--*/
#main-title {
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: .25rem;
  color: #d78d1e;
  padding: 10px;
  text-align: center;
  min-width: 450px;
}
.main {
  width: 90%;
  min-width: 450px;
  margin: 15px 2.5%;
}
.head {
  font-size: 3.5rem;
}
